@import 'vars';
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap");
@font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff') format('woff'),
         url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.3;
    font-family: 'Satoshi';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #2A254B;
}

a:hover {
    border-bottom: 4px solid rgb(110, 69, 52);
    transition: linear 0.3s;
}

.container {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
}

.btn {
    position: absolute;
    width: 170px;
    height: 56px;
  
    top: 257px;
    background: #F9F9F9;
    padding: 16px 32px;
    border: none;

    font-size: 16px;
    line-height: 150%;
    color: #2A254B;
 }

 .button {
    position: absolute;
    width: 170px;
    height: 56px;
    
    left: 43%;
    top: 538px;
    background: #F9F9F9;
    padding: 16px 32px;
    border: none;

    font-size: 16px;
    line-height: 150%;
    color: #2A254B;
 }

